.Moon-container-of-moons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Moon-container {
  position: relative;
  height: auto;
  min-height: 50px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
}

.Moon-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 5px 0px;
}

.Moon-title p,
.Moon-body p {
  margin: 0;
  font-family: inherit;
}

.Moon-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: auto;
}

.Moon-progressbar {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  box-sizing: border-box;
}

div[alert="Moon"] {
  width: auto;
  position: relative;
  height: auto;
  margin-bottom: 7px;
  box-sizing: border-box;
  border-radius: 5px;
  text-shadow: 0px 0px 4px #333;
  z-index: 99999;
}

div[alert="Moon"]:hover .Moon-buttonClose {
  transition: all 0.2s linear;
  transform: scale(1.2);
}

div[alert="Moon"]:hover .Moon-icon img {
  transition: all 0.2s linear;
  opacity: 1;
}


.Moon-buttonClose {
  width: 25px;
  height: 25px;
  display: flex;
  opacity: 1;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  position: absolute;
  cursor: pointer;
  transition: all 0.2s linear;
  color: #fff;
  top: calc(50% - 12.5px);
  right: 0;
}

.Moon-buttonClose img {
  width: 11px;
}

.Moon-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  top: calc(50% - 10px);
}

.Moon-icon img {
  width: 20px;
  opacity: 0.89;
}


/*
  THEMES FOR MOON ALERT
*/

div[moon-theme="success"] {
    background: rgba(76, 209, 55,0.5);
    border: 1px solid rgba(76, 209, 55,1.0);
    box-shadow: none;
    transition: all 0.3s;
}
div[moon-theme="success"] .Moon-progressbar {
  box-shadow: none;
  border: 1px solid rgba(76, 209, 55,1.0);
}
div[moon-theme="success"]:hover {
  background: rgba(76, 209, 55,0.7);
}
div[moon-theme="wrong"] {
    background: rgba(231, 76, 60,0.5);
    border: 1px solid rgba(231, 76, 60,1.0);
    box-shadow: none;
    transition: all 0.3s;
}
div[moon-theme="wrong"] .Moon-progressbar{
    border: 1px solid rgba(231, 76, 60,1.0);
    box-shadow: none;
}
div[moon-theme="wrong"]:hover {
  background: rgba(231, 76, 60,0.7);
}
div[moon-theme="info"] {
  background: rgba(52, 152, 219,0.5);
  border: 1px solid rgba(52, 152, 219,1.0);
  box-shadow: none;
  transition: all 0.3s;
}
div[moon-theme="info"] .Moon-progressbar{
  border: 1px solid rgba(0, 151, 230,1.0);
  box-shadow: none;
}
div[moon-theme="info"]:hover {
  background: rgba(52, 152, 219,0.7);
}
div[moon-theme="warning"] {
    background: rgba(251, 197, 49,0.5);
    border: 1px solid rgba(251, 197, 49,1.0);
    box-shadow: none;
    transition: all 0.3s;
}
div[moon-theme="warning"] .Moon-progressbar{
  border: 1px solid rgba(251, 197, 49,1.0);
  box-shadow: none;
}
div[moon-theme="warning"]:hover {
  background: rgba(251, 197, 49,0.7);
}
div[moon-theme="moon-dark"] {
    background: rgba(44, 62, 80,0.5);
    border: 1px solid rgba(44, 62, 80,1.0);
    box-shadow: none;
    transition: all 0.3s;
}
div[moon-theme="moon-dark"] .Moon-progressbar{
  border: 1px solid rgba(44, 62, 80,1.0);
  box-shadow: none;
}
div[moon-theme="moon-dark"]:hover {
  background: rgba(44, 62, 80,0.7);
}
div[moon-theme="moon-light"] {
    background: rgba(236, 240, 241,0.5);
    border: 1px solid rgba(236, 240, 241,1.0);
    box-shadow: none;
    transition: all 0.3s;
}
div[moon-theme="moon-light"] .Moon-progressbar{
  border: 1px solid rgba(236, 240, 241,1.0);
    box-shadow: none;
}
div[moon-theme="moon-light"]:hover {
  background: rgba(236, 240, 241,0.7);
}

/*
  ANIMATIONS FOR TEXTS
*/
.rotate-in-center {
  animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 0.7s;
}

.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation-delay: 0.7s;
}

.tracking-out-contract-bck {
  animation: tracking-out-contract-bck 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation-delay: 0.7s;
}

.focus-in-contract {
  animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 0.7s;
}

.blur-out-expand-text{
  animation: blur-out-expand-text 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 0.7s;
}

.shake-bottom {
  animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation-delay: 0.7s;
}

.jello-horizontal {
  animation: jello-horizontal 0.9s both;
  animation-delay: 0.7s;
}

.bounce-top {
  animation: bounce-top 0.9s both;
  animation-delay: 0.7s;
}

.fade-in {
  animation: fade-in 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 0.7s;
}

@keyframes bounce-in-left {
  0% {
    opacity: 0;
    transform: translate(-1300px, 0px);
  }

  60% {
    opacity: 1;
    transform: translate(30px, 0px);
  }

  80% {
    transform: translate(-10px, 0px);
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes bounce-out-left {
  0% {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  20% {
    opacity: 1;
    transform: translate(20px, 0px);
  }

  100% {
    opacity: 0;
    transform: translate(-1300px, 0px);
  }
}

@keyframes tada {
  0% {
    transform: rotate(0deg) scaleX(1.00) scaleY(1.00);
  }

  10% {
    transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
  }

  20% {
    transform: rotate(-3deg) scaleX(0.80) scaleY(0.80);
  }

  30% {
    transform: rotate(3deg) scaleX(1.05) scaleY(1.05);
  }

  40% {
    transform: rotate(-3deg) scaleX(1.05) scaleY(1.05);
  }

  50% {
    transform: rotate(3deg) scaleX(1.05) scaleY(1.05);
  }

  60% {
    transform: rotate(-3deg) scaleX(1.05) scaleY(1.05);
  }

  70% {
    transform: rotate(3deg) scaleX(1.05) scaleY(1.05);
  }

  80% {
    transform: rotate(-3deg) scaleX(1.05) scaleY(1.05);
  }

  90% {
    transform: rotate(3deg) scaleX(1.05) scaleY(1.05);
  }

  100% {
    transform: rotate(0deg) scaleX(1.05) scaleY(1.05);
  }
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translate(1300px, 0px);
  }

  80% {
    opacity: 1;
    transform: translate(30px, 0px);
  }

  60% {
    transform: translate(-10px, 0px);
  }

  100% {
    opacity: 1;
    transform: translate(10px, 0px);
  }
}

@keyframes bounce-out-right {
  0% {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  20% {
    opacity: 1;
    transform: translate(-20px, 0px);
  }

  100% {
    opacity: 0;
    transform: translate(1300px, 0px);
  }
}

@keyframes swing-top-fwd {
  0% {
    transform: rotateX(0);
    transform-origin: top;
  }
  100% {
    transform: rotateX(360deg);
    transform-origin: top;
  }
}

@keyframes flip-out-hor-top {
  0%, 100% {
    transform: rotateX(0);
    opacity: 1;
  }
  90% {
    transform: rotateX(70deg);
    opacity: 0;
  }
}

@keyframes bounce-out-bck {
  0%, 100% {
    transform: translateZ(0);
    animation-timing-function: ease-out;
  }
  5% {
    transform: translateZ(-100px);
    animation-timing-function: ease-in;
  }
  15% {
    transform: translateZ(0);
    animation-timing-function: ease-out;
  }
  25% {
    transform: translateZ(-110px);
    animation-timing-function: ease-in;
  }
  38% {
    transform: translateZ(0);
    animation-timing-function: ease-out;
  }
  52% {
    transform: translateZ(-200px);
    animation-timing-function: ease-in;
  }
  70% {
    transform: translateZ(0) scale(1);
    animation-timing-function: ease-out;
  }
  85% {
    opacity: 1;
  }
  90% {
    transform: translateZ(-900px) scale(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-out-contract-bck {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    transform: translateZ(-500px);
    opacity: 0;
  }
}

@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes blur-out-expand {
  0% {
    filter: blur(0.01);
  }
  100% {
    letter-spacing: 1em;
    filter: blur(12px) opacity(0%);
  }
}

@keyframes blur-out-expand-text {
  0%, 100% {
    filter: blur(0.01);
  }
  85% {
    letter-spacing: 1em;
    filter: blur(12px) opacity(0%);
  }
}

@keyframes shake-bottom {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes rotate-in-center {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}